.elements {
    list-style: none;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 17px;
}

@media screen and (max-width: 900px) {
    .elements {
        grid-template-columns: 282px 282px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 15px;
        max-width: 579px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: 282px;
        grid-template-rows: auto;
        max-width: 282px;
    }
}