.element__image {
    object-fit: cover;
    width: 282px;
    height: 282px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #000;
    cursor: pointer;
    display: flex;
    position: relative;
}