.popup__container_form {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 36px 36px;
    position: fixed;
    width: 430px;
}

@media screen and (max-width: 600px) {
    .popup__container_form {
        width: 282px;
        padding: 0 22px;
    }
}