.profile__info {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    max-width: 336px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        grid-column-gap: 10px;
        grid-row-gap: 4px;
        max-width: 282px;
        margin-left: 0;
    }
}